@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Team";
    List<Dentist> dentists = ViewBag.dentists;
    List<Assistent> assistants = ViewBag.assistants;
}


<div class="container">
    @for (var index = 0; index < dentists.Count; index++)
    {
        <div class="row d-flex align-content-center align-items-center">
            @if (index % 2 == 1)
            {
                <div class="col-lg-6">
                    <img  src="https://thedentistsdorridge.co.uk/wp-content/uploads/2019/11/be_a_denist.jpg"  alt="image"  style="height: 20rem; width: 20rem;" />
                </div>
                <div class="col-lg-6">
                    <p>
                        @(dentists[index].FirstName + " " + dentists[index].LastName)<br />
                        <a href="mailto:@dentists[index].Email">@dentists[index].Email</a>    
                    </p>
                </div>

              
            }
            else
            {
                <div class="col-lg-6">
                    <p>
                        @(dentists[index].FirstName + " " + dentists[index].LastName)<br />
                        <a href="mailto:@dentists[index].Email">@dentists[index].Email</a>
                    </p>
                </div>

                
                <div class="col-lg-6">
                    <img src="https://thedentistsdorridge.co.uk/wp-content/uploads/2019/11/be_a_denist.jpg"  alt="image" style="height: 20rem; width: 20rem;" />
                </div>

               
            }
        </div>
    }

    @for (var index = 0; index < assistants.Count; index++)
    {
        <div class="row d-flex align-content-center align-items-center">
            @if (index % 2 == 0)
            {
                <div class="col-lg-6">
                    <img src="https://fixapa.com/wp-content/uploads/2019/06/1_bqr9h5fVqHdlGmYTS2XMTQ.png"  alt="image" style="height: 20rem; width: 20rem;" />
                </div>

                <div class="col-lg-6">
                    <p>
                        @(assistants[index].FirstName + " " + assistants[index].LastName) <br />
                        <a href="mailto:@assistants[index].Email">@assistants[index].Email</a>
                    </p>
                </div>

             
            }
            else
            {
                <div class="col-lg-6">
                    <p>
                        @(assistants[index].FirstName + " " + assistants[index].LastName) <br />
                        <a href="mailto:@assistants[index].Email">@assistants[index].Email</a>
                    </p>
                </div>

               
                <div class="col-lg-6">
                    <img src="https://fixapa.com/wp-content/uploads/2019/06/1_bqr9h5fVqHdlGmYTS2XMTQ.png"  alt="image"  style="height: 20rem; width: 20rem;" />
                </div>

            }
        </div>
    }
</div>

